.sixthArticle__section {
  position: relative;
  margin: 20px;
  font-family: Roboto;
}

.sixthArticle__section > h2 {
  text-align: center;
  font-family: Handshop;
  text-transform: uppercase;
  background-color: #554535;
  color: #e0c995;
  padding: 20px;
}

.sixthArticle__section > p {
  padding: 10px 0;
  text-align: justify;
}

@media (min-width: 1200px) {
  .sixthArticle__section > h2 {
    font-size: 32px;
  }
}
