*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flag {
  margin: 40px auto;
  width: 300px;
}

.flag__title {
  font-size: 20px;
  font-family: Roboto;
}

.ukrainian-flag,
.japanese-flag,
.czech-flag {
  width: inherit;
  height: 200px;
}

.ukrainian-flag__blue,
.ukrainian-flag__yellow,
.czech-flag__white,
.czech-flag__red {
  height: 50%;
}

.ukrainian-flag__blue {
  background-color: #00f;
}

.ukrainian-flag__yellow {
  background-color: #ff0;
}

.japanese-flag,
.czech-flag {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /*white on white is invisible*/
}

.japanese-flag__white {
  height: 100%;
  background-color: #fff;
  position: relative;
}

.japanese-flag__red {
  height: 60%; /*counted with pixel perfect*/
  width: 40%; /*counted with pixel perfect*/
  background-color: #f00;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.iceland-flag {
  width: inherit;
  height: calc(300px / 25 * 18); /*Iceland flag has specific proportions*/
}

.iceland-flag__blue {
  height: 100%;
  background-color: #02529c;
  position: relative;
}

.iceland-flag__white--horizontal,
.iceland-flag__white--vertical {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.iceland-flag__white--horizontal {
  height: calc(100% * 0.2); /*counted with pixel perfect*/
  width: 101%;
  transform: translate(-50%, -50%);
}

.iceland-flag__white--vertical {
  height: 101%;
  width: calc(100% * 0.16); /*counted with pixel perfect*/
  transform: translate(-137%, -50%); /*counted with pixel perfect*/
}

.iceland-flag__red--horizontal,
.iceland-flag__red--vertical {
  background-color: #f00;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.iceland-flag__red--horizontal {
  height: calc(100% * 0.11); /*counted with pixel perfect*/
  width: 100%;
  transform: translate(-50%, -50%);
}

.iceland-flag__red--vertical {
  height: 100%;
  width: calc(100% * 0.08); /*counted with pixel perfect*/
  transform: translate(-224%, -50%); /*counted with pixel perfect*/
}

.czech-flag__white {
  background-color: #fff;
}

.czech-flag__red {
  background-color: #f00;
}

.czech-flag__blue {
  position: relative;
  border: 100px solid transparent;
  border-left: 150px solid #02529c; /*counted with pixel perfect*/
  top: -100%;
}
